


h1 {
	margin: 0;
	text-transform: full-size-kana;
	font-weight: normal;
	color: #48ACDE;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

.border-split {
	border-left: 2px solid #ddd;
	padding-left: 40px;
	margin-left: 0;

	float: none !important;
	vertical-align: middle;
}

.skills .skill img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.skills {
  text-align: center;
}
.skills .skill {
  display: inline-block;
  margin: 2% 2%;
  width: 75px;
}

.skills .skill:first-child,
.skills .skill:nth-child(5) {
  margin-left: 0;
}

.skills .skill img {
  width: 75px;
  height: 75px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.skills .skill span {
  font-size: 11px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

#page-experience {
  padding: 75px 0;
  background: #f7f7f7;
}

.added-row {
	padding-top: 50px;
}

.row {
  margin-right: -15px;
  margin-left: -30px;
}

.text-center {
  text-align: center;
}

.link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

/* Main Stylesheet */
/* Import Bootstrap styles and Responsive styles */

/* Add top padding for navbar-top-fixed */
body {
  padding-top: 60px;
  padding-bottom: 40px;
  }
/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

body {
	margin-top: 49px;
	padding: 0;
	background: #242424;
	font-family: Arial, Helvetica, sans-serif;
	color: #BBBBBB;
}

h1, h2, h3 {
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #48ACDE;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

p, ul, ol {
	margin: 0 0 2em 0;
}

h1 {
	margin: 0;
	text-transform: full-size-kana;
	font-weight: normal;
	color: #48ACDE;

}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.container {
  padding-right: 15px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 1350px;
}

.row:before {
  display: table;
  content: " ";
}

.row:after,  {
  display: table;
  content: " ";
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

a.page-scroll {

}

.gallery2 img {

  padding: 5px;
  background: #BABABA;
  border: 1px solid #BABABA;
}

.img-responsive, img {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
    position: relative;
    padding-bottom: 1%;
    margin: 10px -30px;
}

.row-skills {
  border-bottom: 2px solid #ddd;
  padding: 40px 0 40px;
}

body {
  /* height: 100%; */
  width: 100%;
  background: #242424;
  font-family: Arial, Helvetica, sans-serif;
  color: #BBBBBB;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.428571429;
  color: #ffffff;
  background-color: #000000;
}

#page-experience {
  padding: 75px;
  background: #000000;
}
.page-experience img {
  max-height: 128px;
  box-shadow: 5px 5px 15px #aaa;
}
.experience img{
  position: relative;
  margin: 10px -30px;
}
.experience img-responsive, img {
  display: block;
  max-width: 100%;
  height: auto;
}
.experience li {
  list-style: none;
  margin: 0 0 10px -40px;
  padding-left: 25px;
  border-left: 2px solid #1abc9c;
}
.style {
}
#page-experience {
  padding: 75px 0;
  background: #000000;
}

.row-resume {
  border-bottom: 2px solid #ddd;
  padding: 40px 0 40px;
}

.row-skills{
  border-bottom: 2px solid #ddd;
  padding: 40px 0 40px;
}